@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    color: theme("colors.gray.900");

    font-family: "Roboto", sans-serif;
}

.section-container {
    @apply container px-5 mx-auto w-full;
}

.header-nav-link {
    @apply inline-flex items-center bg-white border-0 py-1 px-3 focus:outline-none hover:bg-gray-100 rounded text-emerald-500 md:mt-0;
}

.btn-primary {
    @layer text-md;
    @apply flex items-center justify-center py-2 px-3 text-white bg-emerald-500 hover:bg-emerald-600 border-0 rounded focus:outline-none;
}

.form-container {
    @apply lg:w-2/4 w-full mx-auto;
}

.title {
    @apply mb-4 text-2xl font-medium text-gray-900;
}

.form-input {
    @layer text-md;
    @apply w-full py-1 px-3 leading-8
    text-gray-700 bg-gray-100 bg-opacity-50
    border border-gray-300 rounded-md outline-none
    focus:border-emerald-500 focus:bg-white focus:ring-2 focus:ring-emerald-200
    transition-colors duration-200 ease-in-out;
}

.form-label {
    @layer text-sm;
    @apply leading-7 text-gray-600;
}

.form-textarea {
    @apply w-full min-h-[100px] bg-gray-100 bg-opacity-50 rounded
    border border-gray-300 focus:border-emerald-500
    focus:bg-white focus:ring-2 focus:ring-emerald-200
    text-base outline-none text-gray-700 py-1 px-3
    transition-colors duration-200 ease-in-out;
}

.input-container {
    @apply flex flex-col;
}

.table-th {
    @apply px-4 py-3 tracking-wider font-medium text-gray-900 text-sm bg-gray-100;
}

.tr-remove {
    @apply bg-red-300 text-red-700 !important;
}

.btn-remove {
    @apply bg-red-300 text-red-700 !important;
}

.msg-error {
    @apply text-red-400 text-sm;
}

.select-status {
    @layer text-md;
    @apply text-gray-700 bg-white border border-gray-300
    py-2 px-2 leading-8 rounded w-full
    focus:ring-2 focus:bg-transparent focus:ring-emerald-200
    outline-none transition-colors duration-200 ease-in-out;
}

.select-option-status {
    @apply text-gray-700 bg-white hover:bg-emerald-500;
}

.avatar {
    @apply object-cover object-center rounded-full block;
}

.input-group {
    @apply w-full flex flex-col sm:flex-row gap-2 sm:gap-4;
}
